
body {
	margin: 0;
	padding: 0;
}
* {
	font-family:'Open Sans', sans-serif;
}
.nav-bar {
  height: 70px;
  background: white;
}
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.brand {
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.0em;
}
.brand a img {
	padding-top: 40px;
  padding-left: 3px;
  margin-right: 450px;
}

 
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
 
.second{
    margin-top: 26px;
    border: 2px solid black;
    background-color: white;
    border-radius: 8px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: white;
  color: black;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: rgb(236, 236, 236);
  color: black;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
 
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
 
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
 
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
	padding-left: 25%;
	 
  }
  nav ul li ul li a {
    padding-left: 30%;
  }
 
  .nav-dropdown {
    position: static;
  }
	.brand a img {
		max-height: 60px;
		margin-top: 5px;
	}
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
.right{
  float:right;
  
}
aside{
  object-fit: contain;
  float: right;
  display: flex;
  height: 550px;
  width: 550px;
  top: 4px;
}
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.image{
  display:flexbox;
  float: right ;
  padding-left: 40px;
  max-height: 660px;
  max-width: auto;
  object-position: right;
 }
 
 h1{
     padding-top: 80px;
     padding-left: 80px;
     font-size: 65px;
  
 }
 .p{
     display: flex;
     padding-left: 80px;
     text-align-last: left;
     font-size: 19px;
     color: grey;
     padding-bottom: 30px;
 }
 .learn-more{
     color: white;
     background: black;
     border-width: 13px;
     border-radius: 10px;
     cursor: pointer;
     margin-left: 80px;
 }
 .learn-more:active{
     color: black;
     background: white;
 }
 
 p img{
   padding-top: 50px;
  border-radius: 10px;
  margin-left: 80px;
 }
 